/* header section styles  */
/* top header  */
.top-header {
  background: #e5e5e5;
}
/* menu section  */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.logo {
  width: 50px;
}

.nav-bar a {
  display: inline-block;
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #14213d;
  border-radius: 10px;
  transition: 0.4s;
}

.nav-bar a:hover {
  background: #14213d;
  color: #fff;
}
